<h2 class="view-title">Details</h2>
<section>
  <ul>
    <% booksArray.forEach(element => { %>
      <li class="card">
        <img src=<%= element.image_url %>>
        <h1><%= element.title %></h1>
        <h2><%= element.author %></h2>
        <p class="descriptionAll"><%= element.description %></p>
        <p class="isbn"><%= element.isbn %></p>
        <p class="genre"><%= element.bookshelf %></p>
        <div class="buttons-container">
          <form action="/books/edit/<%= element.id %>" method="GET">
            <button type="submit">Edit Details</button>
          </form>
          <form action="/books/update/<%= element.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Book</button>
          </form>
        </div>
      </li>
    <% }) %>
  </ul>
</section>