
<h2 class="view-title"><%- 'update' === formAction ? "Update Task" : "Add A Task" %></h2>
<section>
  <ul>
    <% booksArray.forEach(element => { %>
    <li class="card">
      <img src=<%= element.image_url %>>
      <h1><%= element.title %></h1>
      <h2><%= element.author %></h2>
      <p class="descriptionAll"><%= element.description %></p>
      <p class="isbn"><%= element.isbn %></p>
      <p class="genre"><%= element.bookshelf %></p>
    </li>

    <% let action = formAction === 'update' ? `/books/update/${element.id}?_method=PUT` : '/books'; %>
    <li class="form-card">
      <form action="<%= action %>" method="POST" id="form">
        <label for="image_url">Image URL<input type="text" name="image_url" id="image_url" value=<%= element.image_url %>></label>
        <label for="title">Title<input type="text" name="title" id="title" value="<%= element.title %>"></label>
        <label for="author">Author<input type="text" name="author" id="author" value="<%= element.author %>"></label>
        <label for="description">Description<textarea form="form" type="text" name="description" id="description" rows="10"><%= element.description %></textarea></label>
        <label for="isbn">ISBN<input type="text" name="isbn" id="isbn" value="<%= element.isbn %>"></label>
        <label for="bookshelf">Bookshelf
          <input type="text" name="bookshelf" id="bookshelf" value="<%= element.bookshelf %>">
          <select name="bookshelf" id="bookshelf">
          <option disabled selected value="N/A">Choose Bookshelf</option>
          <% bookShelves.forEach(element => { %>
          <option value="<%= element.bookshelf %>"><%= element.bookshelf %></option>
          <% }); %>
          </select>
          <div class="radio">
            <label for="bookshelf">Your Input<input type="radio" name="choice" id="choice" value="new" checked></label>
            <label for="bookshelf">Existing Selection<input type="radio" name="choice" id="choice" value="old"></label>
          </div>
        </label>
        <button type="submit"><%- 'update' === formAction ? "Update Book" : "Add Book" %></button>
      </form>
    </li>
  </ul>
    <% }); %>
</section>