<section>
  <h2 class="view-title">Total Books: <%= booksArray.length %></h1>
  <ul>
    <% booksArray.forEach(element => { %>
      <li class="card">
        <img src=<%= element.image_url %>>
        <h1><%= element.title %></h1>
        <h2><%= element.author %></h2>
        <p class="description"><%= element.description %></p>
        <h2 class="genre"><%= element.bookshelf %></h2>

        <form class="form" action="/books/<%= element.id %>" method="GET">
          <button type="submit">Details</button>
        </form>
      </li>
   <% }) %>
  </ul>
</section>
